<ion-header class="mainHeader">
  <ion-row>
    <ion-col class="flex align-items-center justify-content-center " size="2"><ion-img src="../../assets/logo.svg"
        class="logo"></ion-img></ion-col>
    <ion-col class="flex  align-items-center justify-content-center ">
      <span class="text-xl">{{headerTitle}}</span>
    </ion-col>
    <ion-col size="2" class="flex  align-items-center justify-content-center ">
      <ion-menu-button></ion-menu-button>
    </ion-col>
  </ion-row>
</ion-header>