<app-header></app-header>

<ion-content>
  <ion-card>
    <div class="p-2">
      <ion-row>
        <ion-col class="text-value"><span>Arjun Tharakan</span></ion-col>
        <ion-col class="text-value text-right"><span>Rohan Mehta</span></ion-col>
      </ion-row>
      <ion-row class="border_bottom">
        <ion-col class="text-value number"><span>95474 85471</span></ion-col>
        <ion-col class="text-label text-right pt-0 pb-1"><span>RM Executive</span></ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-label"><span>Start Time</span></ion-col>
        <ion-col class="text-label text-right"><span>Call Duration</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-value"><span>14-07-2025, 10:08AM</span></ion-col>
        <ion-col class="text-value text-right"><span>00:04:46</span></ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-label"><span>Call Type</span></ion-col>
        <ion-col class="text-label text-right"><span>Call Status</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="text-value"><span>00:04:46</span></ion-col>
        <ion-col class="text-value text-right">
          <span class="onCall-span">On Call</span>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <span class="refresh-icon flex justify-content-center align-items-center"> <ion-icon
      name="sync"></ion-icon>Refresh</span>
</ion-content>